<!DOCTYPE html>
<html>
	<header>
		<title>Healthy Food</title>

		<link href="http://fonts.googleapis.com/css?family=Audiowide|Quicksand:300,400,700|Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic" rel="stylesheet" type="text/css">

		<link rel="stylesheet" type="text/css" href="reset.css" />
		<link rel="stylesheet" type="text/css" href="styles.css">
	</head>
	
	<body>
		<header>
			<h1>Chicago Fun</h1>
			<nav>
				<ul>
					<li>
						<a href="#resturants">Popular Resturants</a>
					</li>
					<li>
						<a href="#bars">Popular Bars</a>
					</li>
					<li>
						<a href="#nightclubs">Popular Nightclubs</a>
					</li>
				</ul>
			</nav>
		</header>

		<div id="main">
			<div id="resturants">
				
				<h2>Popular Resturants</h2>

				<div class ="wrapper">
					<div class ="aboutresturants">
						<h3>
							<a href="http://www.gyu-kaku.com/il/">Gyu-Kaku-Japanese BBQ
						</h3>

						<h4>(2000&ndash;2014)</h4>
						<img src="assets/yukaku.jpg" alt="Gyu-Kaku-Japanese BBQ" height="400" width="400"/>
					</div>


					<div class="aboutresturants">
						<h3>
							<a href="http://www.tank-noodle.com/">Tank Noodle Resturants</a>
						</h3>
							<h4>(2000&ndash;2014)</h4>
							<img src="/assets/tanknoodle.jpg" alt="Tank Noodle Resturants" height="400" width="400"/>
						

					</div>


					<div class="aboutresturants">
						<h3>
							<a href="http://www.rosebudrestaurants.com/#!home"> Rosebud Resturants </a>
						</h3>
							<h4>(2000&ndash;2014)</h4>
							<img src="assets/rosebud.jpg" alt="Rosebud resturants" height="400" width="400"/>
					</div>


				</div>
			</div>


            

            <div id="bars">
				
				<h2>Popular Bars</h2>

				<div class ="wrapper">
					<div class ="aboutbars">
						<h3>
							<a href="http://theviolethour.com/">The Violet Hour
						</h3>

						<h4>(2000&ndash;2014)</h4>
						<img src="assets/violethour.jpg" alt="The Violet Hour" height="400" width="400"/>
					</div>


					<div class="aboutbars">
						<h3>
							<a href="http://www.hqbeercade.com/">The Headquarter Beercade</a>
						</h3>
							<h4>(2000&ndash;2014)</h4>
							<img src="/assets/beercade.jpg" alt="The Headquarter Beercade" height="400" width="400"/>
						

					</div>


					<div class="aboutbars">
						<h3>
							<a href="http://www.giltbarchicago.com/"> Gilt Bar </a>
						</h3>
							<h4>(2000&ndash;2014)</h4>
							<img src="assets/giltbar.jpg" alt="Gilt Bar" height="400" width="400"/>
					</div>


				</div>
			</div>


           

           <div id="nightclubs">
				
				<h2>Popular Nightclubs</h2>

				<div class ="wrapper">
					<div class ="aboutnightclubs">
						<h3>
							<a href="http://www.castlenightclubchicago.com/"> Castle Nightclub
						</h3>

						<h4>(2000&ndash;2014)</h4>
						<img src="assets/castle.jpg" alt="Castle Nightclub" height="400" width="400"/>
					</div>


					<div class="aboutnightclubs">
						<h3>
							<a href="http://www.smartbarchicago.com/">The Headquarter Beercade</a>
						</h3>
							<h4>(2000&ndash;2014)</h4>
							<img src="/assets/smartbar.jpg" alt="Smart Bar" height="400" width="400"/>
						

					</div>


					<div class="aboutnightclubs">
						<h3>
							<a href="http://www.nikkichicago.com/"> Nikki Nightclub</a>
						</h3>
							<h4>(2000&ndash;2014)</h4>
							<img src="assets/nikkiclub.jpg" alt="Nikki Nightclub" height="400" width="400"/>
					</div>


				</div>
			</div>




		</div>

	</body>

</html>
