/* General Styles */
body {
  font-family: 'Lato', Arial, sans-serif;
  background-color: rgb(241, 241, 241);
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2em;
  margin: 0px auto;
  min-width: 960px;
  width: 100%;
}

a {
  color: #1D766F;
  text-decoration: none;
}

h1 {
  font-family: 'Audiowide';
  font-size: 2.2em;
  float: left;
  line-height: 75px;
}

h2 {
  font-family:'Quicksand';
  background-color: rgb(60, 60, 60);
  color: #FFF;
  font-size: 2.4em;
  font-weight: 400;
  line-height: 80px;
  margin: 0 0 0.5em 0;
  text-align: center;
}

h3 {
  font-size: 1.4em;
  font-weight: 700;
  margin: 0 0 0.3em 0;
  text-align: center;
}


h4 {
  color: rgb(120, 120, 120);
  font-size: 1em;
  text-align: center;
}

/*navigation*/

nav li {
  float: left;
}

nav li a {
  color: #fff;
  margin: 0 10px;
  padding: 5px 20px;
  text-decoration: none;
  background:green;
}

nav a:hover {
  background-color:lightgreen;
  color:blue;
  border-radius:50px;
}

nav a {

  transition-delay: 100ms;
  transition-duration: 2s;
  transition_property: border-radius;
}
/*header*/

header {
  /*background-color: #009D92;*/
  padding: 10px;
}

header h1 {
  color: green;
  background: url('../images/icons/it.png') no-repeat 0 50%;
  padding-left: 40px;
  
}


header nav {
  float: right;
  font-size: 1.2em;
  margin-left: 20px;

}

header nav li {
  line-height: 75px;
}

header:after {
  /* clearfix hack */
  content: "";
  display: table;
  clear: both;
}

/*main*/


#main div {

  margin-bottom: 1em;
  position: relative;

}

#main div .wrapper{

    width: 100%;
    max-width:1400px;
    margin: 0 auto;

}

#main img {

  border-radius: 30px;
  
}



/* resturants */

#resturants div.aboutresturants{

  background-color: white;
  float: left;
  min-height: 250px;
  margin: 1%;
  padding: 2%;
  width: 27.33%;
  transition-duration:2s;
  transition-delay:100ms;
  transition-property: border-radius;
}


#resturants div.aboutresturants:hover{
  background-color:lightgreen;
  border-radius:20%;
}

#resturants div img{
  width:100%;
}

/*bars*/
#bars {
  clear:both;
}


#bars div.aboutbars{

  background-color: white;
  float: left;
  min-height: 250px;
  margin: 1%;
  padding: 2%;
  width: 27.33%;
  transition-duration:2s;
  transition-delay:100ms;
  transition-property: border-radius;
}

#bars div.aboutbars:hover{
  background-color:lightgreen;
  border-radius:20%;
}

#bars div img{
  width:100%;
}

/*nightclubs*/

#nightclubs {
  clear:both;
}

#nightclubs div.aboutnightclubs{

  background-color: white;
  float: left;
  min-height: 250px;
  margin: 1%;
  padding: 2%;
  width: 27.33%;
  transition-duration:2s;
  transition-delay:100ms;
  transition-property: border-radius;
}

#nightclubs div.aboutnightclubs:hover{
  background-color:lightgreen;
  border-radius:20%;
}

#nightclubs div img{
  width:100%;
}

/*fonts*/

 @font-face {
    font-family: 'EntypoRegular';
    src: url('font/Entypo-webfont.eot');
    src: url('font/Entypo-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/Entypo-webfont.woff') format('woff'),
         url('font/Entypo-webfont.ttf') format('truetype'),
         url('font/Entypo-webfont.svg#EntypoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
  }



























